#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  overscroll-behavior: none;
}

html, body {
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}

._aI {
  display: none !important;
}

 @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 375,089;
      stroke-dashoffset: 133;
    }
    50% {
      stroke-dasharray: 375,333;
      stroke-dashoffset: -266;
    }
    100% {
      stroke-dasharray: 375,089;
      stroke-dashoffset: -777;  
    }
  }
  @keyframes dash {
    0% {
        stroke-dasharray: 375,089;
        stroke-dashoffset: 128;
      }
      50% {
        stroke-dasharray: 375,333;
        stroke-dashoffset: -233;
      }
      100% {
        stroke-dasharray: 375,089;
        stroke-dashoffset: -806;
      }
  }
  
  .loader-border {
    -webkit-animation: dash 1.75s linear 0s forwards infinite;
            animation: dash 1.75s linear 0s forwards infinite;
  }

  /* Safari 7.1+ */
  _::-webkit-full-page-media, _:future, :root .p-m-btn {
    padding: 0px 0px 0px 0px !important;
  }

  /* Safari 10.1+ */

  @media not all and (min-resolution:.001dpcm) { @media {
    .p-m-btn { 
      padding: 0px 0px 0px 0px !important;
    }
  }}

   /* Handling mobile landscape */
/* 
  CSS: For most of the phones 
  812px - for iphone x
*/

@media only screen and (orientation: landscape) {
  html {
    transform: rotate(-90deg) !important;
    transform-origin: left top !important;
    width: 100vh !important;
    height: 100vw;
    overflow-x: hidden !important;
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
  }
}