._aI {
  display: none !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#__next {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

 @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 375,089;
      stroke-dashoffset: 133;
    }
    50% {
      stroke-dasharray: 375,333;
      stroke-dashoffset: -266;
    }
    100% {
      stroke-dasharray: 375,089;
      stroke-dashoffset: -777;  
    }
  }
  @keyframes dash {
    0% {
        stroke-dasharray: 375,089;
        stroke-dashoffset: 128;
      }
      50% {
        stroke-dasharray: 375,333;
        stroke-dashoffset: -233;
      }
      100% {
        stroke-dasharray: 375,089;
        stroke-dashoffset: -806;
      }
  }
  
  .loader-border {
    -webkit-animation: dash 1.75s linear 0s forwards infinite;
            animation: dash 1.75s linear 0s forwards infinite;
  }
